<div class="container" style="max-width: 630px !important;padding-left: 0px;margin-left: 165px;">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
        <h2>Add Medicine</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Medicine name" formControlName="medicineName" required>
          <mat-error>
            Please provide medicine name
          </mat-error>
        </mat-form-field><br>
        <mat-form-field class="full-width-input">
          <input matInput  placeholder="Medicine quantity" formControlName="quantity" required>
          <mat-error>
            Please provide number of medicine
          </mat-error>
        </mat-form-field><br>
        <mat-form-field class="full-width-input">
          <input matInput  placeholder="Medicine price" formControlName="price" required>
          <mat-error>
            Please provide price of medicine
          </mat-error>
        </mat-form-field><br>
        <button mat-raised-button color="primary" class="add-medicine-btn">Add Medicine</button>
      </div>
      <div class="col-2"></div>
      </div>
      </form>
    
    </mat-card-content>
    </mat-card>



<!-- <h1>Add Medicine</h1> -->
<!-- <form>
    <div class="form-group">
      <label for="name">Medicine Name<span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="Enter medicine name" formControlName="medicineName" >
    </div>

    <div class="form-group">
      <label for="quantity">Quantity<span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="quantity" placeholder="Enter medicine quantity">
    </div>

    <div class="form-group">
      <label for="price">Price<span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="price" placeholder="Enter medicine price">
    </div>

    <button type="button" class="btn add-medicine-btn" (click)="addMedicine()">Add Medicine</button>

  </form> -->
</div>